<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controlador.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>Controlador.FormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrincipalServlet</servlet-name>
        <servlet-class>Controlador.PrincipalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reestablecerContrasenaServlet</servlet-name>
        <servlet-class>Controlador.reestablecerContrasenaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarOtpServlet</servlet-name>
        <servlet-class>Controlador.ValidarOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaContrasenaServlet</servlet-name>
        <servlet-class>Controlador.NuevaContrasenaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilClienteServlet</servlet-name>
        <servlet-class>Controlador.PerfilClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Controlador.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventoServlet</servlet-name>
        <servlet-class>Controlador.EventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CotizacionServlet</servlet-name>
        <servlet-class>Controlador.CotizacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoServlet</servlet-name>
        <servlet-class>Controlador.PagoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/FormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrincipalServlet</servlet-name>
        <url-pattern>/PrincipalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reestablecerContrasenaServlet</servlet-name>
        <url-pattern>/reestablecerContrasenaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarOtpServlet</servlet-name>
        <url-pattern>/ValidarOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaContrasenaServlet</servlet-name>
        <url-pattern>/NuevaContrasenaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilClienteServlet</servlet-name>
        <url-pattern>/PerfilClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventoServlet</servlet-name>
        <url-pattern>/EventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CotizacionServlet</servlet-name>
        <url-pattern>/CotizacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoServlet</servlet-name>
        <url-pattern>/PagoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
